.jolly-lodger-regular {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
}

.ruda-bodyfont {
  font-family: "Ruda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 

body {
    background-color: #52276A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ruda', serif;
    height: 100vh; 
    margin: 0; 
  }

h1 {
    color: #C0D730;
    font-family: 'jolly lodger', system-ui;
    letter-spacing: 0.05em;
    padding-top: 20px;
}

h2 {
    color: #F4F4F5;
    font-family: 'jolly lodger', system-ui;
    letter-spacing: 0.05em;
}

h3 {
    color: #F4F4F5;
    font-family: 'jolly lodger', system-ui;
    letter-spacing: 0.05em;
}

br {
    margin: 0;
    padding: 0;
}
.pageContainer {
    color: #333134;
    z-index: 1;
    justify-content: center;
    max-width: 900px;
    border-radius: 10px;
    min-width: 600px;
    width: 80%;
    align-content: center;
}
button {
    background-color: #D7E37E;
    border: 3px solid #333134;
    border-radius: 5px;
    padding: 3px;
    width: 100px;
}
.selected{
    background-color: #52276A;
    color: #F4F4F5;
    font-weight: bold   ;
}

input[type="date"] {
    background-color: #D7E37E; /* Background color */
    border: 3px solid #333134; /* Border */
    color: #333134; /* Text color */
    padding: 5px;
    border-radius: 5px;
    width: 150px; 
    text-align: center;
  }
select {
    background-color: #D7E37E;
    border: 3px solid #333134;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 3%;
    min-width: fit-content;
    width: 100px;
}
  
  .tooltipContainer {
    position: relative;
    width: 50%;
    height: 10px;
  }

  .tooltip {
    position: absolute;
    display: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #8FA13B;
    border-color: #C0D730;
    border-width: 5px;
    color: #F4F4F5;
    width: fit-content;
    justify-content: center;
    text-align: center;
    transform: translate(0, -150%) ;
    z-index: 2;
  
    line-height: 1.25;
    font-size: 16px;
  
    white-space: pre;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .tooltipContainer:hover .tooltip {
    display: block;
  }
  
  
  .container {
    align-self: center;
    background: #333134;
    padding: 20px;
    margin-bottom: 1%;
    border-radius: 10px;
    height: fit-content;
    width: 92%;
    text-align: center;
  }
  .hidden {
    display: block;
  }

  .container.hidden {
    display: none;
  }

  #activityContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; /* Ensure equal height */
  }
  
  .activitySlot {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8FA13B;
    min-height: 75px; /* Set minimum height */
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 3%;
    box-shadow: 0px 0px 10px #333134;
    border: 3px solid #333134;
  }

  .activitySlot:hover {
    background-color: #333134;
    cursor: pointer;
  }

  .activitySlot:hover .tooltip {
    display: block;
    background-color: #B86B29;
    width: 300%;
    transform: translate(0,0);
    height: fit-content;
    text-wrap: wrap;
  }

  .activitySlot.chosen {
    background-color: #1E787C;
    font-weight: bolder;
  }