.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #72AAAC;
  color:#F4F4F5;
  font-family: "Imprima", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.site-container{
  background-color: #333134;
  padding: 20px;
  border-radius: 0px;
  max-width: 800px; /* Optional max-width */
  margin: 0px auto; /* Center the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}  

.game-box {
  border: 4px solid #3D1C4E;
  border-radius: 10px;
  background-color: #52276A;
}

.story-box{
  background-color: #F4F4F5;;
  padding: 20px;
  border: 8px solid #52276A;
  border-radius: 10px;
  color: black;
}

/* headers  */

.games-header {
  color: #F4F4F5;
  text-align: center;
}

/* background colours */

.blue-light{
  background-color: #72AAAC;
}
.btn:hover .green{
  background-color: #C0D730;
}
.white{
  background-color: #F4F4F5;
}
.purple{
background-color: #52276A;
}
.purple-light{
  background-color: #9278A1
}
.green{
  background-color: #C0D730;
  }

.green:hover{
  background-color: #C0D730;
  }

.black {
  background-color: #333134
}
.orange-light {
  background-color: #F7AA57;
}
.orange {
  background-color: #F78E1E;
}
.orange-dark {
  background-color: #B86B29;
}
.orange:hover {
  /* background-color: #F78E1E; */
  background-color: #F7AA57;  /*light option */
}
.pink-dark{
  background-color: #AE606A;
}

.pink-light{
  background-color: #F1AFB8; /*light option */
}

.pink-dark:hover {
  background-color: #AE606A;
}


/* Fonts */

.bigLetters{
  font-size: 40px;
}
.font-script{
  font-family: "Imprima", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.jolly-lodger-regular {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
}

.ruda-bodyfont {
  font-family: "Ruda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 


/* div control */


.hide {
    display: none;
  }

.inline-elements {
    display: inline-block;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* anagrams */
.fail {
  animation: shake 0.5s;
}

.letter-box {
  width: 56px;
  height: 56px;
  border-radius: 15px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #f8f9fa; /* This is Bootstrap's bg-light colour*/
  text-align: center;
  color:#333134;
  
}


[id^='anaForm'] {
    gap: 1px; /* Add space between inputs */
}




/* Handle Images */

.joke-container {
  position: relative;
  width: 100%;
}

.joke-image {
  /* display: block; */
  width: 100%;
  height: auto;
  border-radius: 5px;
}


.joke-overlay-fade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.joke-container:hover .joke-overlay-fade {
  opacity: 1;
}

.joke-overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#F7AA57;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
}

.joke-container:hover .joke-overlay-bottom {
  bottom: 0;
  height: 100%;
}

.joke-overlay-top {
  position: absolute;
  bottom: 100%;
  left: 0%;
  right: 0;
  background-color: #F7AA57;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
}

.joke-container:hover .joke-overlay-top {
  bottom: 0;
  height: 100%;
}



.joke-overlay-right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgb(241, 193, 48);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.joke-container:hover .joke-overlay-right {
  width: 100%;
  left: 0;
}


.joke-overlay-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: rgb(241, 193, 48);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.joke-container:hover .joke-overlay-left {
  width: 100%;
  right: 0;
}



.joke-text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* white-space: nowrap; */
}


/* Image fade in/out */

.fade-in-container {
  position: relative;
  width: 50%;
}

.fade-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth fade effect */
  opacity: 1; /* Full visibility */
}


/* image shake */
.shake-container {
  position: relative;
  width: 100%;
}
.shake-img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.shake-img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}