.jolly-lodger-regular {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
}

.ruda-bodyfont {
  font-family: "Ruda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-device-width: 1600px) {
  .bgimg-1 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

body {
  background-color: #3d1c4e;
  font-family: "ruda-bodyfont", sans-serif;
  /* justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  height: 100vh; */
}

.ghost {
  width: 125px;
  height: 125px;
  position: fixed;
  top: 40%;
  left: -10%;
  pointer-events: none;
}

#playButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

.background {
  /* background-image: url("../images/bg.svg");
  background-repeat: no-repeat; */
  position: absolute;
  height: 100vh;
}

.page {
  position: relative;
}

.house {
  height: 94vh;
  width: 53vw;
  background-image: url("../images/hauntedhouse-3.png"); /* show house */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-5%);
  /* display: grid;
  grid-template-columns: repeat(13, 63px);
  grid-template-rows: repeat(17, 63px); */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.house:hover {
  background-image: url("../images/insidehalloweenhouseArtboard1.svg"); /* show silhouette */
  background-repeat: no-repeat;
  background-size: 91%;
  background-position: center;
}

.room {
  display: flex;
  align-items: center;
  justify-content: center;
  /*  background-color: #f0f0f030;
  border: 1px solid #ccc; */
}

.attic {
  /* grid-column: 9 / span 3;
  grid-row: 3 / span 7; */
  font-family: "Jolly Lodger", system-ui;
  color: darkorchid;
  font-size: 1.5em;
  width: 12vw;
  height: 39.25vh;
  position: absolute;
  left: 52.5%;
  top: 14.5%;
}

.thrdfloor1 {
  width: 14vw;
  height: 20.5vh;
  position: absolute;
  left: 26%;
  top: 34.4%;
  /* grid-column: 5 / span 4;
  grid-row: 6 / span 4; */
}

.sndfloor1 {
  width: 14vw;
  height: 16.5vh;
  position: absolute;
  left: 26%;
  top: 56.3%;
  /* grid-column: 9 / span 3;
  grid-row: 10 / span 3; */
}

.sndfloor2 {
  width: 12vw;
  height: 16.5vh;
  position: absolute;
  left: 52.5%;
  top: 56.3%;
  /* grid-column: 5 / span 4;
  grid-row: 10 / span 3; */
}

.sidedoor {
  width: 7vw;
  height: 23vh;
  position: absolute;
  left: 12.7%;
  top: 74%;
  /* grid-column: 3 / span 2;
  grid-row: 13 / span 4; */
}

.maindoor {
  width: 14vw;
  height: 23vh;
  position: absolute;
  left: 26%;
  top: 74%;
  /* grid-column: 5 / span 4;
  grid-row: 13 / span 4; */
}

.frstfloor1 {
  width: 12vw;
  height: 23vh;
  position: absolute;
  left: 52.5%;
  top: 74%;
  /* grid-column: 9 / span 3;
  grid-row: 13 / span 4; */
}
