* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.games-header {
  color: white;
  text-align: center;
}

.hide {
    display: none;
  }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box {
    border: 2px solid #A9A9A9;
    border-radius: 10px;
    background-color: purple;
}



.joke-container {
  position: relative;
  width: 50%;
}

.joke-image {
  display: block;
  width: 100%;
  height: auto;
}

.joke-overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.joke-container:hover .overlay {
  width: 100%;
  left: 0;
}

.joke-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


/* alert */

.success,
.error {
  width: 370px;
  font-size: 1em;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}




/* anagrams */
.letter-box {
  width: 56px;
  height: 56px;
  border-radius: 15px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #f8f9fa; /* This is Bootstrap's bg-light colour*/
  text-align: center;
  
}


[id^='anaForm'] {
    gap: 1px; /* Add space between inputs */
}